.bodyfooter-container{
    height: 60%;
    width: 97%;
    display: flex;
    justify-content: space-between;
}
.bodyfooter-previous{
    padding: 1% 2% 1% 2%;
    border: 1px solid #E4E8EE;
    border-radius: 8px;
    background-color: white;
    color: #091B29;
    font-size: 14px;
    font-weight: bold;
    /* width: 9%; */
}
.bodyfooter-cancel-create{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    /* background-color: aqua; */
}
.bodyfooter-cancel{
    padding: 2% 6% 2% 6%;
    border: 1px solid #E4E8EE;
    border-radius: 8px;
    background-color: white;
    color: #091B29;
    font-size: 14px;
    font-weight: bold;
    /* width: 13%; */
}
.bodyfooter-create{
    padding: 2% 6% 2% 6%;
    border: 1px solid #E4E8EE;
    border-radius: 8px;
    background-color: #5078E1;
    color: white;
    font-size: 14px;
    font-weight: bold;
    /* width: 9%; */
}