.bodyheader-contents{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodyheader-icon-create{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 70%;
    height: 100%;
    margin-left: 1.5%;
}
.bodyheader-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background-color: #E4E8EE;
    border-radius: 50px;
    font-size: 15px;
}
.bodyheader-create{
    font-size: 16px;
    color: #071741;
    font-weight: 600;
}
.bodyheader-selecttag{
    margin-right: 1.5%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30%; */
}

.no-border-outline:hover, .no-border-outline:focus {
    /* outline: none; */
    /* border: none; */
    /* box-shadow: none; */
  }
  