.home-page{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.home-header{
    height: 7%;
    background-color: #1C1C1C;
    width: 100%;
}
.home-body{
    background-color: #F5F7FA;
    width: 100%;
    height: 93%;
    display: flex;
}
.home-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    background-color: #333333;
    height: 100%;
}
.home-main{
    width: 95%;
    height: 100%;
}
.home-main-header{
    display: flex;
    align-items: center;
    height: 6%;
    background-color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #CFD4DE;
}
.home-maincontents-container{
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-maincontents{
    background-color: white;
    height: 93%;
    width: 97%;
    border-radius: 12px;
}
.home-body-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9%;
    box-sizing: border-box;
    border-bottom: 1px solid #CFD4DE;
}
.home-body-mainpages{
    height: 79%;
    width: 100%;
    display: flex;
}
.home-body-footer{
    height: 12%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid #CFD4DE;   */
}
.home-body-leaddetails{
    width: 31%;
    display: flex;
    justify-content: center;
}  
.home-body-unitdetails{
    background-color: #F5F7FAE6;
    width: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-body-quotationdetails{
    width: 30%;
    display: flex;
    justify-content: center;
}